ion-col{
  margin: auto;
  padding: auto;    
}
h2{
  margin: auto;
  padding: auto;
}

tr{
  border: none !important;
}

#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
  
  margin: 0;
}

#container a {
  text-decoration: none;
}

.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background: var(--ion-color-dark);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}

:host ::ng-deep {
  .monthview-primary-with-event {
    // background-color: white !important;
    // background: var(--ion-color-success) !important;
    background-color: #eaeaea00 !important;
    padding: 5px 0!important;

    .one-event{
      background-color: #faa079 !important;
    }
    .two-event{
      background-color: #118AB2 !important;
    }
    .three-more-event{
      background-color: #65BE73 !important;
    }
    .no-event, .one-event, .two-event, .three-more-event, .three-more-event{
      height: 4vh !important;
      display: flex;
      justify-content: center;
      align-items: center
    }
  }

  .monthview-current{
    background-color: #ffffff !important;
  }
  
  .monthview-selected {
    background-color: var(--ion-color-primary) !important;
    padding: 0;

    .one-event, .two-event, .three-more-event{
      background-color: #faa07900 !important;
    }
  }


  .text-muted{
    background-color: #eaeaea !important;
    padding: 5px 0!important;
    height: 4vh;

    .no-event{
      // background-color: hsla(144, 65%, 50%, 0.2) !important;
      // border-radius: 5px;
      height: 4vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .monthview-secondary-with-event{
    padding: 0;
    .one-event{
      background-color: rgba(250, 160, 121, 0.4) !important;
    }
    .two-event{
      background-color: rgba(17, 138, 178, 0.4) !important;
    }
    .three-more-event{
      background-color: rgba(101, 190, 114, 0.4) !important;
    }
    .no-event, .one-event, .two-event, .three-more-event, .three-more-event{
      height: 4vh !important;
      display: flex;
      justify-content: center;
      align-items: center
    }
  }



  td{
    border: none !important;
    padding: 5px 0 !important;
    .no-event{
      height: 4vh !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  
  // .monthview-datetable {
  //   background-color: rgb(207, 36, 142) !important;
  //   cursor: default;
  // }
}

// .with-event {
//   background-color: var(--ion-color-success);
//   margin: 0;
//   width: 100%;
//   height: 100%;
//   padding: 0;
//   // border-radius: 50%;
// }

.table[_ngcontent-wet-c142] > thead[_ngcontent-wet-c142] > tr[_ngcontent-wet-c142] > th[_ngcontent-wet-c142], .table[_ngcontent-wet-c142] > tbody[_ngcontent-wet-c142] > tr[_ngcontent-wet-c142] > th[_ngcontent-wet-c142], .table[_ngcontent-wet-c142] > tfoot[_ngcontent-wet-c142] > tr[_ngcontent-wet-c142] > th[_ngcontent-wet-c142], .table[_ngcontent-wet-c142] > thead[_ngcontent-wet-c142] > tr[_ngcontent-wet-c142] > td[_ngcontent-wet-c142], .table[_ngcontent-wet-c142] > tbody[_ngcontent-wet-c142] > tr[_ngcontent-wet-c142] > td[_ngcontent-wet-c142], .table[_ngcontent-wet-c142] > tfoot[_ngcontent-wet-c142] > tr[_ngcontent-wet-c142] > td[_ngcontent-wet-c142]{
  padding: 0 !important;
}
